<connectionStrings>
    <!-- Replace PUT_SA_PASSWORD_HERE with the SA password on the target computer. -->
    <add name="SberbankDb"
         connectionString="Data Source=WS105305\SQLEXPRESS;Initial Catalog=SberbankDB;User ID=SA;Password=SAsa123!;Encrypt=False;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
</connectionStrings>
